.nav {
    grid-area: n;
    background-color: #a8c1af;
    height: 650px;
}

.a {
    background-color: lightgreen;
    color: black;
    border: lightgreen solid 2px;
    border-radius: 8px;
    text-underline: none;
    padding: 2px;
    text-decoration: none;
}

.li {
    margin-top: 10px;
    margin-right: 5px;
}

.active {
    border: green solid 2px;
}